
{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h1 style="text-align: center;"><strong><em>Наши клинты:</em></strong></h1>
<h1 style="text-align: center;">&nbsp;</h1>
<table style="height: 107px; margin-left: auto; margin-right: auto;" width="155">
<tbody>
<tr style="text-align: left;">
<td style="width: 70.7px; text-align: left;">
<h4><strong>Клиенты:&nbsp;&nbsp;</strong></h4>
</td>
<td style="width: 70.7px; text-align: left;">
<h4><strong>Баллы:&nbsp;&nbsp;</strong></h4>
</td>
</tr>
<tr style="text-align: left;">
<td style="width: 70.7px; text-align: left;">
<blockquote><span style="text-decoration: underline;">Георгий</span></blockquote>
</td>
<td style="width: 70.7px; text-align: left;">
<blockquote><span style="text-decoration: underline;">1200 руб</span></blockquote>
</td>
</tr>
<tr style="text-align: left;">
<td style="width: 70.7px; text-align: left;">
<blockquote><span style="text-decoration: underline;">Степан</span></blockquote>
</td>
<td style="width: 70.7px; text-align: left;">
<blockquote><span style="text-decoration: underline;">13 руб</span></blockquote>
</td>
</tr>
<tr style="text-align: left;">
<td style="width: 70.7px; text-align: left;">
<blockquote><span style="text-decoration: underline;">Егор</span></blockquote>
</td>
<td style="width: 70.7px; text-align: left;">
<blockquote><span style="text-decoration: underline;">631 руб</span></blockquote>
</td>
</tr>
<tr>
<td style="width: 70.7px; text-align: left;">
<blockquote><span style="text-decoration: underline;">Андрей</span></blockquote>
</td>
<td style="width: 70.7px; text-align: left;">
<blockquote><span style="text-decoration: underline;">357 руб</span></blockquote>
</td>
</tr>
</tbody>
</table>
{% endblock content %}
